extends ../../framework/_layout

block vars
  //- Unic letter settings
  -
    const startBannerData = {
      // topLink: '',
      top: `${CONFIG.src}1_01.jpg`,
      left: `${CONFIG.src}1_02.jpg`,
      right: `${CONFIG.src}1_03.jpg`
    }
    // for multipy letterts define unic config
    // CONFIG.task = '';

    // for task "gulp pug"
    if (Array.isArray(DATA)) {
      DATA = DATA[0].en;
    }

block letter
  +preheader(DATA)
  +tb
    +startBanner(DATA, CONFIG, startBannerData)
  //- =====
  +hr
  //- =====
  +tb({'class': 'content-tb'})
    +h1!= DATA.p0
    +text!= DATA.p1
    //- replace text
    +text!= 'Randomm text with replace'.change({replace: 'Randomm', to: 'Random'})
    //- replace text to link
    +text!= 'Randomm text with replace to link'.change({replace: 'Randomm', to: 'Random', 'link': DATA.site})
    //- utm
    //- +text({style: 'font-size:10px'})!= utm({ place: 'body', source: 'button', target: 'index', })
    //- btn
    +btn({
      title: 'Lorem',
      link: DATA.site + utm({ place: 'body', source: 'button', target: 'index', })
    })
    //- table
    +row({'class': 'tb__wrapper'})
      +tb({'class': 'tb'})
        tr
          td: div th
          td: div th
          td: div th
        tr
          td: div lotem
          td: div lorem
          td: div lorem
    //- stripe
    +row
      +tb({'class': 'promo-stripe'})
        +row
          a.promo-stripe__code() https://fbs.id/?ppu=ID partner
    //- ul
    +row
      +ul(['lorem', 'ipsum', 'dolor'])
    //- li
    +row
      +ol(['lorem', 'ipsum', 'dolor'])
    //- quote
    +row({'class': 'quote__outer'})
      +quote({
        auth: 'Abraham Lincoln',
        content: ['Nearly all men can stand adversity, but if you ant to test a man\'s character, give him power.']
      })
    //- two col => need to refactor
    //- +row
      +two-col
  //- =====
  +hr
  //- =====
  +loginAlter(DATA)
  +footer(DATA)
